Source: ecompconfig-python
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), libecompconfig0, python-pyrex, python-all-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: python-ecompconfig
Architecture: any
Depends: ${shlibs:Depends}, libecompconfig0
Description: A compiz port for E17
 This package provides a python binding for libecompconfig.
