Source: ecomp
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), e17-dev, efl-dev
Standards-Version: 3.7.3

Package: ecomorph-core
Architecture: any
Depends: ${shlibs:Depends}, libecompconfig0, python-ecompconfig, ecsm
Description: A compiz port for E17
 This package provides a core.
